<div class="registration-content">
  <h1>{{ 'registration.title' | translate  }}</h1>

  <div class="registration-options">
    <div class="option1">
      <img src="assets/reg-medical.JPG" alt="Medical Team">
      <button mat-button color="primary" routerLink="/doctors/registration">{{ 'registration.doctor' | translate  }}</button>
    </div>
    <div class="option2">
      <img src="assets/patient.JPG" alt="Patient">
      <button mat-button color="primary" routerLink="/patients/registration">{{ 'registration.patient' | translate  }}</button>
    </div>
  </div>
</div>
