<div class="appointment-container">
  <h1>Appointments</h1>

  <div class="appointment-options">
    <!-- Opción Agendar Cita -->
    <div class="option">
      <img  src="assets/img1_citas.png" alt="Schedule Appointment" class="image">
      <button mat-button class="btn" routerLink="/appointments/schedule">Schedule Appointment</button>
    </div>

    <!-- Opción Actualizar/Reagendar Cita -->
    <div class="option">
      <img src="assets/img2_citas.png" alt="Update Appointment" class="image">
      <button mat-button class="btn" routerLink="/appointments/reschedule"> Update/Reschedule Appointment</button>
    </div>
  </div>
</div>
