
body {
  font-family: 'Quicksand', sans-serif;
}


mat-toolbar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: transparent;
  box-shadow: none;
}

mat-toolbar span {
  font-size: 3rem;
  font-weight: bold;
  color: black;
}


.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f3f3;
}

h2 {
  font-size: 1.5rem;
  margin-top: 20px;
}


.button-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 40px;
  width: 50%;
}


button {
  width: 100%;
  height: 100px;
  background-color: #0099B2 !important;
  color: white !important;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

button:hover {
  background-color: #007A8C;
}


.centered-container {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
