<div class="container">

  <button mat-button class="btn-return" routerLink="/appointments">
    <mat-icon>arrow_back</mat-icon> Return
  </button>
  <h1>Reschedule Appointments</h1>

  <div class = "container-2">

    <div class="box-info">
      <mat-label>DNI Patient: </mat-label>
      <mat-form-field class="DNI-patient-input">
        <input matInput>
      </mat-form-field>

      <button mat-button class="btn-search" routerLink="/appointments/update" >Search</button>
    </div>

  </div>
</div>
