

<div class="content">
  <h3 class="title">{{ 'HomeClincs.title' | translate}}</h3>
  <h3 class="subt">{{ 'HomeClincs.subTitle' | translate}}</h3>

  <div class="button-group">
    <button class="button-group-opt" mat-button routerLink="/postoperative">{{ 'HomeClincs.postoperative' | translate}}</button>
    <button class="button-group-opt" mat-button routerLink="/icu">{{ 'HomeClincs.icu' | translate}}</button>
    <button class="button-group-opt" mat-button routerLink="/registration">{{ 'HomeClincs.registration' | translate}}</button>
    <button class="button-group-opt" mat-button routerLink="/patients">{{ 'HomeClincs.patients' | translate}}</button>
    <button class="button-group-opt" mat-button routerLink="/doctors">{{ 'HomeClincs.doctors' | translate}}</button>
    <button class="button-group-opt" mat-button routerLink="/">{{ 'HomeClincs.appointments' | translate}}</button>
  </div>

</div>
